:root {
    --default-color: #FBFBEA;
    --background-color: #2B2A33;
    --empty-border-color: var(--background-color);
    --selection-border-color: var(--default-color);

    color: var(--default-color);
    background-color: var(--background-color);
}

html {
    border: 1px solid var(--selection-border-color);
    border-radius: 10px;
}

.invert-filter {
    filter: invert(99%) ;
}

input[type="text"] {
    background-color: var(--background-color);
    border-color: var(--default-color) !important;
    color: var(--default-color);
}

#tab-group-color-table td {
    border-color: var(--default-color) !important;
}

.tab-link a, .tab-link a:active, .tab-link a:visited,
.control-link a, .control-link a:active, .control-link a:visited
{
    color: #7fbefd;
}
