:root {
    --confirm-font-size: 90%;
    --edit-label-font-size: 95%;
    --default-color: black;
    --empty-border-color: white;
    --selection-border-color: black;
}

* {
    font-family: "Segoe UI", "Tahoma", "Arial", sans-serif;
}

body {
    /*max-width: 150px;*/
    overflow-x: hidden;
}

input[type="text"] {
    outline: none;
}

.view {
    display: none;
}

.default-view {
    display: block;
}

.view-title {
    margin-bottom: 8px;
    font-weight: 600;
}

#tab-groups-title, #tab-group-buttons, #tabs-title, #tabs-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tab-groups-title-text, #tabs-title-text {
    flex: 1 0 auto;
}

.action-button {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

#tab-groups-title-help, #tabs-title-help {
    cursor: help;
}

.tab-group-line {
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid var(--empty-border-color);
    border-radius: 5px;
    cursor: pointer;
    padding-bottom: 1px;
}

.tab-group-line > div:first-of-type {
    padding-left: 4px;
}

.tab-group-line > div:last-of-type {
    padding-right: 4px;
}

.tab-group-line.active {
    border: 1px solid var(--selection-border-color);
    border-radius: 5px;
}

.tab-group-key, .tab-group-icon {
    width: 18px;
}

.tab-group-icon {
    padding-left: 2px;
    padding-right: 4px;
}

.tab-group-name {
    flex-grow: 1;
    padding-left: 2px;
    padding-right: 4px;
}

.tab-group-tab-count {
    text-align: left;
    padding-left: 5px;
    min-width: 30px;
}

.tab-group-buttons {
    display: none;
    transform: translate(0px, 2px);
    width: 100%;
    text-align: right;
}

.small-tab-icon {
    vertical-align: bottom;
    margin-right: 2px;
}

#confirm-delete {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: var(--confirm-font-size);
    color: red;
}

#confirm-create {
    font-size: var(--confirm-font-size);
    font-weight: bold;
}

.confirm-prompt {
    margin-top: 10px;
    font-weight: bold;
}

.edit-field-title {
    font-size: var(--edit-label-font-size);
}

#tab-group-name, #tab-group-container {
    border: none;
    border-bottom: 1px solid black;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 170px;
}

#tab-group-colors {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--edit-label-font-size);
    margin-top: 3px;
    margin-bottom: 5px;
}

#tab-group-color-table {
    border-collapse: collapse;
    border: 1px solid black;
}

#tab-group-color-table td {
    border: 1px solid black;
    cursor: pointer;
    padding: 0 2px;
}

#tab-group-color-0 {
    background-color: transparent;
    color: var(--default-color);
}

#tab-group-color-1 {
    background-color: #37ADFF;
    color: white;
}

#tab-group-color-2 {
    background-color: #00C79A;
    color: white;
}

#tab-group-color-3 {
    background-color: #51CD00;
    color: white;
}

#tab-group-color-4 {
    background-color: #FFCB00;
    color: black;
}

#tab-group-color-5 {
    background-color: #FF9F00;
    color: black;
}

#tab-group-color-6 {
    background-color: #FF623D;
    color: black;
}

#tab-group-color-7 {
    background-color: #FF4BDA;
    color: black;
}

#tab-group-color-8 {
    background-color: #AF51F5;
    color: white;
}

#tab-group-color-9 {
    background-image: linear-gradient(-45deg, lightgray 25%, transparent 25%, transparent 50%, lightgray 50%, lightgray 75%, transparent 75%, transparent);
    color: var(--default-color);
}

#search-input-container {
    margin-right: 5px;
    display: none;
}

#search-input {
    width: 100%;
    min-width: 200px;
    margin-right: 5px;
    border: none;
    border-bottom: 1px solid black;
}

#tabs {
    margin-top: 10px;
    /*width: 100%;*/
   /*width: 500px;*/
}

.divider-tab-group {
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-size: 75%;
}

hr.tab-group-divider {
    border: none;
    border-top: 1px solid var(--default-color);
    margin-top: 8px;
    display: inline-block;
    flex-grow: 1;
}

.tab-line {
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid var(--empty-border-color);
    border-radius: 5px;
    margin-top: 2px;
}

.tab-line.active {
    border: 1px solid var(--selection-border-color);
    border-radius: 5px;
}

.tab-key {
    width: 16px;
    padding-left: 4px;
    padding-right: 4px;
    align-self: baseline;
}

.tab-link {
    padding-left: 4px;
    padding-right: 4px;
    min-width: 0;
    flex: 1;
}

.tab-link a {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-decoration: none;
}

.tab-link a, .tab-link a:active, .tab-link a:visited {
    color: dodgerblue;
}

.tab-icon {
    width: 16px;
}

.tab-icon img {
    width: 16px;
    height: 16px;
}